/* Advancd Filter section css here  */
.advanceFilter .ant-btn.ant-btn-icon-only{
    width: 100px;
}
.SearchBtn{
   background-color: #1c819d !important;
}
.showResults:hover{
   background-color: #1c819d !important;
}
.svgIcons > svg{
    fill: red !important;
}

.social_link_buttons .ant-btn-link{
   padding-left: 0px !important;
}
.social_link_buttons .ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover{
   color: white !important;
}
.social_link_buttons_mobile .ant-btn.ant-btn-icon-only{
   width: 33%;
}
.searchFilterBtn:hover{
   color: white !important;
}
/* .mostWanted .ant-btn.ant-btn-icon-only{
   width: 180% !important;
} */

/* carousel section css here --> */
 .ant-carousel .slick-dots button{
   width: 5px !important;
  }
 .ant-carousel .slick-dots li {
   width: 0px !important;
}
.slick-dots li button{
   background-color: white !important;
}
.contact-button:hover{
   color: white !important;
}
